#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

header {
  border: solid black 1px;
  background: whitesmoke;
  position: sticky;
  top: 0;
}

#posts {
  display: flex;
  flex-direction: column;
}

.singlePost {
  border: 1px dotted black;
  border-radius: 1%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.postTitle {
  display: inline-block;
}

.publishedDate {
  display: inline-block;
  font-style: italic;
}

.singleComment {
  border: 1px gray solid;
  background-color: whitesmoke;
  border-radius: 5px;
  width: fit-content;
  font-size: 0.9em;
}
